<h1>Subscription Confirmed</h1>
<h2>
WELCOME,
Your subscription to our list has been confirmed.

Thank you for subscribing!
</h2>
<a class="formEmailButton" href="http://arash-landing-page.herokuapp.com/">continue to our website »</a>