

<section id="confirmation">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-2 offset-lg-5">
                 <img class="" src="./images/bdlanding/bdlogo.png">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-8 offset-lg-2">
                 <h1 style="color: white">Subscription Confirmed</h1>
                 <h2 style="color: yellow">Thank you for subscribing!</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-5 offset-sm-2">
                <form style="display: inline" action="http://arash-landing-page.herokuapp.com/" method="get">
                    <button id="back">continue to our website</button>
                </form>
            </div>
        </div>

    </div>


</section>
