
   {{!-- logo and telegram chat icon --}}
   <div class="row testBorder" id="topLogoRow">

   </div>
   {{!-- main logo and subscribtion form row --}}
   {{!-- more info icon row --}}
   {{!-- social media icon row --}}
   {{!-- all rights reserved --}}


