{{!-- mainContainer --}}
<div class="container-fluid" id="mainContainer">
    {{!-- nav --}}
    <nav class="navbar navbar-default navbar-fixed-top testBorder">
        <div class="row testBorder">
            <div class="col-md-9 testBorder">
                <img src="./images/bdlanding/bdlogo.png" class="testBorder">
            </div>
            <div class="col-md-3 testBorder">
                <img class="testBorder" src="./images/bdlanding/telegram.png" style="float:right">
    
    
            </div>
        </div>
    </nav>
    {{!-- firstMainRow --}}
    <div id="description" class="testBorder row text-center">
                <div class="col-lg-12">
                    <div class="row testBorder text-center">
                        <div class="col-lg-12 text-center">
                            <img src="./images/bdlanding/bitdiemlogo.png" class="testBorder">
                        </div>
                    </div>
                    <div class="row testBorder text-center">
                        <div class="col-lg-12 text-center">
                            <h2 style="color:#ffcc00" class="testBorder">Cryptocurrency Based Payroll.</h2>
                        </div>
                    </div>
                    <div class="class testBorder text-center">
                        <div class="col-lg-12 text-center">
                            <h1 style="color:white" class="testBorder">For ALL!</h1>
                        </div>
                    </div>
                    {{!-- submit form --}}
                    <div class="col-lg-8 testBorder" id="formSubmitContainer">
                        <input placeholder="Wanna get more info? Submit your email." id="formInput">
                        <button style="background-color:#ffcc00" id="formButton">SUBMIT</button>
                        </input>
                        {{!--
                        <button style="background-color:#ffcc00" id="formButton">SUBMIT</button> --}}
                    </div>
                </div>
    </div>
    <div id="description" class="testBorder">
        <div class="container testBorder">
               
        </div>
    </div>
    <div class="row testBorder" id="moreInfoRow">
    
    </div>
</div>
       
