{{!-- mainContainer --}}
<div class="container testBorder" id="mainContainer">
    {{!-- top icon row --}}
    <div class="row testBorder text-center" id="topRow">
            <div class="col-md-3 testBorder">
                <img class="img-fluid testBorder" src="./images/bdlanding/bdlogo.png">
            </div>
            {{!-- <div class="col-md-3 offset-md-8 testBorder ">
                <img class="img-fluid" src="./images/bdlanding/telegram.png" style="float:right">
            </div> --}}
    </div>

    {{!-- firstMainRow --}}
    <div id="mainRow" class=" row text-center testBorder">
                <div class="col-lg-12 col-md-12 col-sm-12 testBorder">
                    <div class="row text-center" id="logoRow">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center testBorder">
                            <img id="mainLogo" class="testBorder img-fluid" src="./images/bdlanding/bitdiemlogo.png">
                        </div>
                    </div>
                    <div class="row testBorder  text-center brandContentRow">
                        <div class="col-lg-12 text-center">
                            <span class="brandFont" id="empowerText"style="color:#ffcc00;font-size:270%">Empowering the next generation of workers</span>
                        </div>
                    </div>
                    <div class="row testBorder  text-center">
                        <div class="col-lg-12 text-center">
                            <span class="brandFont" style="color:white;margin:0;font-size:260%">to earn money and build wealth</span>
                        </div>
                    </div>

                </div>
    </div>

    {{!-- formSubmitRow --}}
    <div class="row sub text-center testBorder" id="submitRow">
            {{!-- buttonCol --}}
            <div class="col-lg-6 col-md-6 col-sm-10 offset-sm-1 testBorder offset-lg-3 offset-md-3" id="buttonCol">
                <form id="elipseForm" action="/subscribe" method="post">
                    {{!-- <form id="submitFormContainer" class="testBorder"> --}}
                        <input type="email" placeholder="Wanna get more info? Submit your email." id="formInput" required>
                        <button type="submit" id="formButton" class="btn">SUBMIT</button>
                        
                    {{!-- </form> --}}
                </form>
                
            </div>
    </div>


    {{!-- moreInfoRow --}}
    {{!-- <div id="moreInfoRow" class="row text-center testBorder"> --}}
        {{!-- liquid payments --}}

        {{!-- <div class="col-lg-4 col-sm-12 moreInfoCol  testBorder" id="infoOne"> --}}
            {{!-- <img src="./images/bdlanding/copy1.png" alt="" class="moreInfoImage testBorder img-fluid"> --}}
        {{!-- </div>  --}}
        {{!-- safest way to pay --}}

        {{!-- <div class="col-lg-4 col-sm-12 moreInfoCol  testBorder" id="infoTwo"> --}}
            {{!-- <img src="./images/bdlanding/copy2.png" alt="" class="moreInfoImage testBorder img-fluid"> --}}
        {{!-- </div> --}}
        {{!-- easy to use --}}

        {{!-- <div class="col-lg-4 col-sm-12 moreInfoCol  testBorder" id="infoThree"> --}}
            {{!-- <img src="./images/bdlanding/copy3.png" alt="" class="moreInfoImage testBorder img-fluid"> --}}
        {{!-- </div> --}}
    {{!-- </div> --}}

    {{!-- socialMediaRow --}}
    {{!-- <div id="socialMediaRow" class="row text-center testBorder">


        <div class="col-md-6 offset-md-3 testBorder textCenter" id="infoTwo">
            <div class="row text-center ">
                <div class="col-sm-2 offset-sm-1 testBorder">
                    <img src="./images/bdlanding/facebook.png" alt="" class="img-fluid social">
                </div>
                <div class="col-sm-2 offset-sm-1 testBorder">
                   <img src="./images/bdlanding/twitter.png" alt="" class="img-fluid social"> 
                </div>
                <div class="col-sm-2 offset-sm-1 testBorder">
                    <img src="./images/bdlanding/ig.png" alt="" class="img-fluid social">
                </div>
                <div class="col-sm-2 offset-sm-1 testBorder">
                    <img src="./images/bdlanding/in.png" alt="" class="img-fluid social">
                </div>
            </div>
        </div>
    </div> --}}

     {{!-- footer --}}
    <footer class="footer text-center testBorder" id="pageFooter">

        {{!-- footerColumn --}}
        <div class="col-lg-12 col-sm-12 col-xs-12 text-center testBorder" id="footerCol">
            <span id="footerText" class="brandFont">&copy; All Rights Reserved. BITDIEM 2018.</span>
        </div>
          
    </footer>

</div>



           
           
       
