<div class="container" id="mainContainer">
    <!-- Content here -->

    {{!-- Icon Row  --}}

    <div class="row">
        <div class="col-sm-12" style="padding:0">
            <img src="./images/bitDiem1.jpg" id="bitDiemLogo"  alt="">
        </div>
    </div>
    {{!-- Logo & Header Row --}}
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <img src="./images/bitDiem2.jpg" class="bLogo"  alt="">
        </div>
        <div class="col-md-6 offset-md-3 text-center">
            
            <p id="bitDiemTitle">BitDiem</p>
            <br>
            <span class="heeboTextStyle" id="bitDiemDescription">The future of freelance payments built on blockchain</span>

        </div>
    </div>
    {{!-- Call To Action Row --}}
    <div class="row equalRow">
        <div class="col-md-6 offset-md-3 text-center" style="padding:0">
            <form id="callToActionForm">
                <div class="form-group">
                    <input type="email" class="form-control text-center" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> {{!-- info regarding infrequent updates --}}
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="text-center">
                    {{!-- Call To Action Form/Button --}}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row equalRow">
        <ul>
            <i class="fa fa-battery-empty" aria-hidden="true"></i>
        </ul>
    </div>
   
     {{!-- Row for Copyright and stuff --}}

</div>

