<head>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="row">
                <div class="col-md-9">
                    <img src="./images/bdlanding/bdlogo.png">
                </div>
                <div class="col-md-3">
                    <img src="./images/bdlanding/telegram.png" style="float:right">


                </div>
            </div>
        </nav>
    </head>

    <section id="description">
        <div class="container">
            <center>
                <div class="row">
                    <div class="col-lg-3">

                    </div>

                    <div class="col-lg-6">
                        <img src="./images/bdlanding/bitdiemlogo.png">
                    </div>

                    <div class="col-lg-3">

                    </div>



                </div>

                <div class="row">
                    <div class="col-lg-2">

                    </div>

                    <div class="col-lg-8">
                        <h2 style="color:yellow">Cryptocurrency Based Payroll.</h2>
                    </div>

                    <div class="col-lg-2">

                    </div>


                </div>
                <div class="row">
                        <div class="col-lg-2">
    
                        </div>
    
                        <div class="col-lg-8">
                            <h1 style="color:white">For ALL!</h1>
                        </div>
    
                        <div class="col-lg-2">
    
                        </div>
    
    
                    </div>
            </center>


        </div>
    </section>
    <section id="description">
            <div class="container">
                <center>
                    <div class="row">
                        <div class="col-lg-2">
    
                        </div>
    
                        <div class="col-lg-8" id="formSubmitContainer">
                            <input placeholder="Wanna get more info? Submit your email." id="formInput"><button style="background-color:yellow" id="formButton">SUBMIT</button></input>
                            {{!-- <button style="background-color:yellow" id="formButton">SUBMIT</button> --}}
                        </div>
    
                        <div class="col-lg-2">
    
                        </div>
    
    
    
                    </div>
    

                </center>
    
    
            </div>
        </section>

