
   {{!-- logo and telegram chat icon --}}
   <div class="row testBorder" id="topLogoRow">

   </div>
   {{!-- main logo and subscribtion form row --}}
   <div class="row testBorder" id="subscribeRow">

   </div>
   {{!-- more info icon row --}}
   <div class="row testBorder" id="moreInfoRow">

   </div>
   {{!-- social media icon row --}}
   <div class="row testBorder" id="socialMediaRow">

   </div>
   {{!-- all rights reserved --}}
    <div class="row testBorder" id="allRightsReservedRow">

    </div>

