body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.testBorder{
  border: 1px solid grey;
}

.socialMediaButton{
  height: 50px;
}

#mainContainer{
  
}

#bitDiemLogo{
  height: 100px;
  width:100%;
}

.bLogo{
  margin-top: 30px;
  margin-bottom: 30px; 
  height: 100px;
  weight: 100px;
}
