body {
  background-image: url("../images/bdlanding/bg.jpg");
  background-repeat: no-repeat;
}

.testBorder{
 
}

#footerText{
  color: #666699;
}

nav {
  margin-top: 30px;
}



#formInput{
 position: absolute;
 left: 0;
 width: 65%;
 height: 40px;
 border-radius: 40px;
 border: 1px solid white;
 padding: 2%;
 text-align: center;
 font-size: 70%;
}

#formButton{
 background-color: #ffcc00;
 position: absolute;
 width: 32%;
 height: 40px;
 border-radius: 40px;
 z-index: -1;
 text-align: right;
 font-size: 70%;
}

#elipseForm{
  
}


.sub{
  margin-top: 20px;
}

#footerText{
  color: white;
}

  #mainContainer{
    height: auto;
    width: 95%;
  }

  #mainRow{
   
  }

  .moreInfoImage{
    height: 80%;
    width: 80%;
    margin-top: 6%;
  }

  #pageFooter{
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 3%;
  }

  .page-footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}
#socialMediaRow{
  margin-top: 50px;

}

#mainRow{
  margin-top: 5%;

}
#moreInfoRow{
  margin-top: 50px;
}

.social{
  width: 100px;
  height: 100px;
}

#buttonCol{
  position: relative;
  padding: 0;
}

