body {

}

#theBackground{
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(41,137,216); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(41,137,216,1) 10%, rgba(95,221,175,1) 84%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(41,137,216,1) 10%,rgba(95,221,175,1) 84%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(41,137,216,1) 10%,rgba(95,221,175,1) 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-repeat: no-repeat;
  background-attachment: fixed;
}





#mainContainer{

}
a {
  color: #00B7FF;
}

.testBorder{
  border: 1px solid grey;
}

.equalRow{
  height: 20%;
}

.socialMediaButton{
  height: 50px;
}

.heeboTextStyle{
  font-family: 'Orbitron', sans-serif;
}

#bitDiemTitle{
  font-family: 'Bungee', cursive;
  font-size: 50px;
}

#bitDiemDescription{
  font-size: 38px;
  
}

#mainContainer{
  background-color: white;
  height: 800px;
  position: relative;
  border-radius: 10px;
  border: 3px solid black;
}

#bitDiemLogo{
  height: 100px;
  width:100%;
}

.bLogo{
  margin-top: 30px;
  margin-bottom: 30px; 
  height: 100px;
  weight: 100px;

}

#socialMediaRow{
  margin-bottom: 0;
}

#callToActionForm{
  position: absolute;
  width: 100%;
  bottom: 0%;
}